*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("https://assets.nflxext.com/ffe/siteui/vlv3/d0a0affb-1c76-4cf0-9d75-eb531f32458c/ccfbb8c1-b8e1-4aba-8e2d-87416714841a/BR-pt-20221214-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: top center;

}
#heading{
    background-color: rgba(0, 0, 0, 0.7);
}
#heading div{
    width: 94%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;  

}
#heading .h1 {
    padding: 15px 0;
    font-size: 20px;
    text-transform: 
    uppercase;
}
#heading a{
    color: #ffff;
    text-decoration: none;
    font-family: sans-serif;
}